@font-face {
  font-family: Nunito;
  font-weight: 300;
  src: url(../fonts/Nunito.ttf);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Nunito;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  --header-bg: rgb(233, 233, 233);
  --borders: rgb(155, 155, 155);
  --card-box-shadow: 2px 2px 4px rgb(199, 199, 199), -2px -2px 4px rgb(199, 199, 199);
}

header {
  width: 100%;
  background-color: var(--header-bg);
}

main {
  width: 100%;
  padding: 0 10px;
}

nav {
  margin: 10px 0;
  padding: 0 15px;
  display: flex;
  justify-content: center;
}

nav ul {
  flex-wrap: nowrap;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 600;
  font-size: 16px;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

nav li {
  padding: 5px 8px;
}

.header-logo-container {
  max-width: 200px;
  margin: 0 auto;
}

header img {
  max-width: 200px;
  margin: 0 auto;
  padding: 15px 0px;
}

.btn {
  font-size: 1.25rem;
  padding: 8px 16px;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  text-decoration: none;
  background-color: rgb(155, 155, 155);
  font-weight: 600;
  cursor: pointer;
  font-family: inherit;
  margin-right: 10px;
}