{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/closet/clothing-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Clothing List</h1>
</section>

<section class="card-container">
  {% for clothing in closet %}
    <div class="card">
      <div class="card-content">
        <div class="card-img-container">
          <img 
            src="{% static 'images/lime.svg' %}" 
            alt="A lime"
          >
        </div>
        <h2 class="card-title">{{ clothing.name }}</h2>
        <p>{{ clothing.category }}</p>
        <p>Material: {{ clothing.material }}</p>
        <p><small>MSRP ${{ clothing.msrp }}</small></p>
      </div>
    </div>
  {% endfor %}
</section>

{% endblock %}